<?xml version="1.0"?>
<configuration>
	
	<configSections>

		<section name="System.Diagnostics.Settings" type="System.Configuration.SectionHandler, System.Core"/>
		<section name="System.Container.Settings" type="System.Configuration.SectionHandler, System.Core"/>

	</configSections>

	<System.Diagnostics.Settings Assembly="System.Core">
		<Settings SystemFrameworkContext="System" DefaultContext="Default" DefaultLevel="Verbose" Logger="System.Diagnostics.Loggers.TraceLogger, System.Diagnostics" LoggerRegistry="System.Diagnostics.Loggers.Registry.LocalRegistry, System.Diagnostics">
			<ContextLevel ContextId="System" TraceLevel="Verbose"/>
			<ContextLevel ContextId="Default" TraceLevel="Verbose"/>

			<Thread ThreadName="*" TraceLevel="Verbose">
				<ContextLevel ContextId="System" TraceLevel="Verbose"/>
				<ContextLevel ContextId="Default" TraceLevel="Verbose"/>
				<TraceListener Name="Log" Listener="System.Diagnostics.TraceListeners.LogFileTraceListener, System.Diagnostics">
					<!-- Set to Log Path -->
					<Parameter Name="Path" Value="C:\Temp\Debug\DocumentManagement"/>
					<Parameter Name="Filename" Value="{0}_Log"/>
					<!-- Set to Log Path History -->
					<Parameter Name="ArchivePath" Value="C:\Temp\Debug\DocumentManagement\History"/>
					<Parameter Name="UseDateFolder" Value="true"/>
				</TraceListener>
			</Thread>

		</Settings>
	</System.Diagnostics.Settings>

	<System.Container.Settings Assembly="System.Core">
		<Settings/>
	</System.Container.Settings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
