<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="System.Diagnostics.Settings" type="System.Configuration.SectionHandler, System.Core" />
	</configSections>

	<!-- Diagnostics Settings:
		Using the System.Configuration.SectionHandler this section can be embedded in the App.config or Web.config
		in order to point to another configuration file.  The Path of this file is relative to the Application path.
		-->
	<System.Diagnostics.Settings Assembly="System.Core" Filename="MyExternal.config" />

	<!-- Diagnostics Settings:
		Using the System.Configuration.SectionHandler this section can either be embedded in the App.config or Web.config  -OR-
		contained in a separate configuration file (using the same XPath) -->
	<System.Diagnostics.Settings Assembly="System.Core">
		<!-- Settings Node - One Required
		
			SystemFrameworkContext = Diagnostics Context to use for System Framework components
			                        (Optional, Default="System").
															
			DefaultContext = Default Diagnositcs Context
			                 (Optional, Default="Default").
											 
			DefaultLevel = Default TraceLevel if no other configuration exists.
			
			Logger = Full Type Name or Container ObjectId for the Logger instance.
			         (Optional, Default="System.Diagnostics.Loggers.DefaultLogger, System.Core")
															
			LoggerRegistry = Full Type Name or Container ObjectId for the LoggerRegistry instance.
			                 (Optional, Default="System.Diagnostics.Loggers.Registry.DefaultRegistry, System.Core")
		-->
		<Settings
			SystemFrameworkContext="System"
			DefaultContext="Default"
			DefaultLevel="Warn"
			Logger="System.Diagnostics.Loggers.TraceLogger, System.Diagnostics"
			LoggerRegistry="System.Diagnostics.Loggers.Registry.LocalRegistry, System.Diagnostics"
			>
			
			<!-- ContextLevel Node - Optional, Zero to Many 
				ContextId = The Diagnostics Context
				TraceLevel = The default TraceLevel to use for the Diagnostics Context if no thread configuration exists.
			-->
			<ContextLevel ContextId="System" TraceLevel="Off" />
			<ContextLevel ContextId="Default" TraceLevel="Info" />

			<!-- Thread Node - Optional, Zero to Many
			  ThreadName = The name of the Thread or "*" to indicate all non-configured threads.
				TraceLevel = The Default TraceLevel for the Thread if no other configuration exists.
			-->
			<Thread ThreadName="*" TraceLevel="Verbose">

				<!-- ContextLevel Node - Optional, Zero to Many 
					ContextId = The Diagnostics Context
					TraceLevel = The TraceLevel to use for the Diagnostics Context in the current thread.
				-->
				<ContextLevel ContextId="System" TraceLevel="Error" />
				<ContextLevel ContextId="Default" TraceLevel="Verbose" />

				<!-- TraceListener Node - Optional, Zero to Many 
					Name = The name of the Trace Listener, must be unique within the thread. (This will be prepended with the ThreadName)
					Listener = Full Type Name or Container ObjectId for the Listener.  
					
					NOTE: Listeners which do not inherit from System.Diagnostics.ThreadTraceListener will recieve trace messages for ALL threads.
					      For more information on configuring a specific trace listener see the Trace Listener's Example config file.
				-->
				<TraceListener Name="LogFile"
					Listener="System.Diagnostics.TraceListeners.LogFileTraceListener, System.Diagnostics">

					<!-- Parameter Node - Optional, Zero to Many 
						NOTE: Only Listeners which inherit from System.Diagnostics.ThreadTraceListener can be configured using these parameters.
						Name = The Name of the Parameter
						Value = The Value of the Parameter
					-->
					<Parameter Name="Path" Value="C:\Temp\" />
					<Parameter Name="Filename" Value="{0}_Log" />

				</TraceListener>
			</Thread>
		</Settings>
	</System.Diagnostics.Settings>

</configuration>
