<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="System.Configuration.Managers.Settings" type="System.Configuration.SectionHandler, System.Core" />
	</configSections>

	<!-- Container Settings:
		Using the System.Configuration.SectionHandler this section can be embedded in the App.config or Web.config
		in order to point to another configuration file.  The Path of this file is relative to the Application path.
		-->
	<System.Configuration.Managers.Settings Assembly="System.Core" Filename="MyExternal.config" />

	<!-- Container Settings:
		Using the System.Configuration.SectionHandler this section can either be embedded in the App.config or Web.config  -OR-
		contained in a separate configuration file (using the same XPath) -->
	<System.Configuration.Managers.Settings Assembly="System.Core">
		<!-- Settings Node - One Required
			ConfigurationManager = Full Type Name or Container ObjectId for the Configuration Manager.
			                       (Required, No Default)
			
			CredentialsValidator = Full Type Name or Container ObjectId for the Credentials Validator instance.
			                       (Optional, Default="System.Configuration.Managers.DefaultCredentialsValidator, System.Core")
			
			CredentialsProvider = Full Type Name or Container ObjectId for the Credentials Provider instance.
			                       (Optional, Default="System.Configuration.Managers.DefaultCredentialsProvider, System.Core")
			
			CryptographyProvider = Full Type Name or Container ObjectId for the CryptographyProvider instance.
			                       (Optional, Default="System.Security.ConfigurationCryptographyProvider, System.Core")
			
			Environment = The active Environment Type
			              (e.g. Production, UserAcceptanceTesting, QualityAssuranceTesting, IntegrationTesting, Development)
										See System.Configuration.Managers.EnvironmentTypes for a full list of available values.
		-->
		<Settings
			ConfigurationManager="System.Configuration.Managers.RemoteConfigurationManager, System.Configuration.Managers.Remote"
			CredentialsValidator="System.Configuration.Managers.DefaultCredentialsValidator, System.Core"
			CredentialsProvider="System.Configuration.Managers.DefaultCredentialsProvider, System.Core"
			CryptographyProvider="System.Security.ConfigurationCryptographyProvider, System.Core"
			Environment="Development"
			/>
	</System.Configuration.Managers.Settings>

</configuration>
