<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<!--
		This is an example file demostrating use of the System.Configuration.SettingsBase class
		To see the corresponding class file see System.Configuration.SettingsBase.cs in the Example Folder.
	-->
	
	<configSections>
		<section name="MyApp.MyNamespace.Settings" type="System.Configuration.SectionHandler, System.Core" />
	</configSections>

	<!-- Custom Settings:
		Using the System.Configuration.SectionHandler this section can be embedded in the App.config or Web.config
		in order to point to another configuration file.  The Path of this file is relative to the Applicaiton path.
		-->
	<MyApp.MyNamespace.Settings Assembly="MyAppOrLibrary" Filename="MyExternal.config" />

	<!-- Custom Settings:
		Using the System.Configuration.SectionHandler this section can either be embedded in the App.config or Web.config  -OR-
		contained in a separate configuration file (using the same XPath)
		
		The Element Name MUST match the static ConfigSectionName property of your settings class.
		Optional - The Element may have the Assembly attribute with the name of the assembly where your settings class is contained
		           This attribute is necessary only when the default ConfigSectionName property (full name of the settings type) is used.
		           Use this attribute if the Configuration Framework has difficulty locating your class type.
		Optional - The Element may have the Type attribute with the name of the settings class Type.
		           Use this attribute if overriding the default ConfigSectionName property.
		-->
	<MyApp.MyNamespace.Settings Assembly="MyAppOrLibrary" Type="MyApp.MyNamespace.Settings, MyAppOrLibrary">
		<!-- Settings Node - One Required
			The Element MUST be the Short Name of your settings class.
			
			Properties marked with the XmlAttribute attribute are defined using an attribute on this Element.
		-->
		<Settings
			Name="Robert"
			>

			<!-- Properties maked with the XmlElement attribute are defined as child elements. -->
			
			<!-- This is the List<string> Property "AliasNames" -->
			<Alias>Bob</Alias>
			<Alias>Rob</Alias>
			
			<!-- This is the Address Property "Address" -->			
			<Address
				Street="1234 W. Smith St."
				City="Phoenix"
				State="AZ"
				Zip="85000" />

			<!-- This is the List<Address> Property "AlternateAddressList" -->
			<AlternateAddress
				Street="4567 N. 1st St."
				City="Phoenix"
				State="AZ"
				Zip="85000" />
			<AlternateAddress
				Street="8910 NW. Central Ave."
				City="Phoenix"
				State="AZ"
				Zip="85000" />
		
		</Settings>
	</MyApp.MyNamespace.Settings>

</configuration>
