<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="System.Configuration.Install.Settings" type="System.Configuration.SectionHandler, System.Core" />
	</configSections>

	<!-- Container Settings:
		Using the System.Configuration.SectionHandler this section can be embedded in the App.config or Web.config
		in order to point to another configuration file.  The Path of this file is relative to the Application path.
		-->
	<System.Configuration.Install.Settings Assembly="System.Core" Filename="MyExternal.config" />

	<!-- Container Settings:
		Using the System.Configuration.SectionHandler this section can either be embedded in the App.config or Web.config  -OR-
		contained in a separate configuration file (using the same XPath) -->
	<System.Configuration.Install.Settings Assembly="System.Core">
		<!-- Settings Node - One Required
			ServiceAccount = The Windows Account under which the Service will initially be configured to run.
			                 (Valid values: LocalService, NetworkService, LocalSystem, User)
			
			StartType = The initial Windows Service Start type for the Service.
			            (Valid values: Automatic, Manual, Disabled)
			
			ServiceName = The Service name for the Service.
			DisplayName = The Display name for the Service.
			Description = The detailed description for the Service.
		-->
		<Settings
			ServiceAccount="LocalSystem"
			StartType="Automatic"
			ServiceName="MyService"
			DisplayName="My Service"
			Description="This is my service."
			/>
	</System.Configuration.Install.Settings>

</configuration>
