<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="System.Container.Settings" type="System.Configuration.SectionHandler, System.Core" />
	</configSections>

	<!-- Container Settings:
		Using the System.Configuration.SectionHandler this section can be embedded in the App.config or Web.config
		in order to point to another configuration file.  The Path of this file is relative to the Application path.
		-->
	<System.Container.Settings Assembly="System.Core" Filename="MyExternal.config" />

	<!-- Container Settings:
		Using the System.Configuration.SectionHandler this section can either be embedded in the App.config or Web.config  -OR-
		contained in a separate configuration file (using the same XPath) -->
	<System.Container.Settings Assembly="System.Core">
		<!-- Settings Node - One Required
			ContainerType = Full Type Name of the Container. (Optional, Default="System.Container.DefaultContainer, System.Core")
			Injector = Full Type Name or Container ObjectId for the DependencyInjector instance. (Optional, Default="System.Container.DefaultDependencyInjector, System.Core")
			SystemFrameworkContext = IOC Container Context for System Framework Components (e.g. TraceListeners, StandardMessages, LoggerRegistry, etc...)
		-->
		<Settings
			ContainerType="System.Spring.Container, System.Spring"
			Injector="System.Container.DefaultDependencyInjector"
			SystemFrameworkContext="System"
			/>
	</System.Container.Settings>

</configuration>
