<?xml version="1.0"?>
<configuration>

	<!-- Installer Settings -->
	<System.Configuration.Install.Settings>
		<Settings
			ServiceAccount="LocalSystem"
			StartType="Automatic"
			ServiceName="System.Scheduler.Service"
			DisplayName="System Scheduler Service"
			Description="Executes processes on a predefined schedule."
			/>
	</System.Configuration.Install.Settings>

	<!-- Scheduler Settings -->
	<System.Scheduler.Settings>
		<Settings
			ThreadSleep="1000"
			Encoding="US-ASCII"
			ShutdownTimeout="30000"
			DefaultContextId="Processors"
			>

			<Processor
				Name="DirectoryCleaner"
				StatusFile="C:\Temp\DirectoryCleaner.status"
				ProcessorType="System.Scheduler.Processors.FolderCleanerProcessor, System.Scheduler"
				Enabled="true"
				ExecuteOnStartup="false"
				>
				<Settings Type="System.Scheduler.Processors.FolderCleanerSettings, System.Scheduler">
					<FolderCleanerSettings>
						<Folder
							Path="C:\Temp\Debug"
							SearchPattern="*.log"
							MaxFileAge="30"
							Recursive="true"
							DeleteEmptyFolders="true"
							/>
					</FolderCleanerSettings>
				</Settings>

				<Schedule Type="System.Scheduler.Schedules.DailySchedule, System.Scheduler">
					<DailySchedule
						Enabled="true"
						TimeToRun="23:30:00"
						/>
				</Schedule>
			</Processor>
		</Settings>
	</System.Scheduler.Settings>

	<!-- IOC Settings -->
	<System.Container.Settings Assembly="System.Core">
		<Settings />
	</System.Container.Settings>
	
	<!-- Diagnostics Settings -->
	<System.Diagnostics.Settings Assembly="System.Core">
		<Settings
			SystemFrameworkContext="System"
			DefaultContext="Default"
			DefaultLevel="Verbose"
			Logger="System.Diagnostics.Loggers.TraceLogger, System.Diagnostics"
			LoggerRegistry="System.Diagnostics.Loggers.Registry.LocalRegistry, System.Diagnostics"
			>
			<ContextLevel ContextId="System" TraceLevel="Verbose" />
			<ContextLevel ContextId="Default" TraceLevel="Verbose" />

			<Thread ThreadName="*" TraceLevel="Verbose">
				<ContextLevel ContextId="System" TraceLevel="Verbose" />
				<ContextLevel ContextId="Default" TraceLevel="Verbose" />
				<TraceListener Name="Log"
					Listener="System.Diagnostics.TraceListeners.LogFileTraceListener, System.Diagnostics">
					<Parameter Name="Path" Value="C:\Temp\Debug\System.Scheduler" />
					<Parameter Name="Filename" Value="{0}_Log" />
				</TraceListener>
				<TraceListener Name="ErrorLog"
					Listener="System.Diagnostics.TraceListeners.LogFileTraceListener, System.Diagnostics">
					<Parameter Name="Path" Value="C:\Temp\Debug\System.Scheduler" />
					<Parameter Name="Filename" Value="ErrorLog" />
					<Parameter Name="IncludeFilter" Value="Error;Warning" />
					<Parameter Name="Thread" Value="NULL" />
				</TraceListener>
			</Thread>

		</Settings>
	</System.Diagnostics.Settings>

	<!-- Database Settings -->
	<System.Data.Settings>
		<Settings
			DecryptionProvider="System.Security.DefaultCryptographyProvider, System.Core"
			>
			<!--
			<DataAccessObject
				Name="[Name]"
				ConnectionString="Data Source=[ServerName];Initial Catalog=[DatabaseName];User ID=[UserId];Password=[Password]"
				DataAccessClient="System.Data.SqlDataAccess, System.Data.SqlClient"
				Default="false" />
			-->
		</Settings>
	</System.Data.Settings>

</configuration>
