<?xml version="1.0"?>
<configuration>
	
	<appSettings>
		<add key="TraceListenersFile" value="TraceListeners.config"/>
  </appSettings>

	<system.serviceModel>
		<client>
			<endpoint name="System.Loggers.Manager" address="net.tcp://localhost:9327/Manager" binding="netTcpBinding" bindingConfiguration="" contract="System.Diagnostics.Loggers.Service.IManagerService"/>
			<endpoint name="System.Loggers.Registry" address="net.tcp://localhost:9327/Registry" binding="netTcpBinding" bindingConfiguration="" contract="System.Diagnostics.Loggers.Service.IRegistryService"/>
		</client>
	</system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
