<?xml version="1.0"?>
<AssemblyInfoDictionary>
	<AssemblyInfo Name="System.Diagnostics" Display="System Trace Listeners">
		<ClassInfo Name="System.Diagnostics.TraceListeners.LogFileTraceListener" Display="Log File Trace Listener">
			<Parameter Name="Path" />
			<Parameter Name="Filename" />
			<Parameter Name="IncludeFilter" />
			<Parameter Name="ExcludeFilter" />
		</ClassInfo>
		<ClassInfo Name="System.Diagnostics.TraceListeners.EMailTraceListener" Display="E-Mail Trace Listener">
			<Parameter Name="IncludeFilter" />
			<Parameter Name="ExcludeFilter" />
			<Parameter Name="From" />
			<Parameter Name="To" />
			<Parameter Name="Subject" />
			<Parameter Name="SmtpServer" />
			<Parameter Name="SmtpUser" />
			<Parameter Name="SmtpPassword" />
		</ClassInfo>
	</AssemblyInfo>
</AssemblyInfoDictionary>
