<?xml version="1.0"?>
<configuration>
	
	<configSections>
		<section name="System.Configuration.Managers.Remote.Settings" type="System.Configuration.SectionHandler, System.Core"/>
		<section name="System.Configuration.Managers.FileSystem.Settings" type="System.Configuration.SectionHandler, System.Core"/>
		<section name="System.Configuration.Managers.Database.Settings" type="System.Configuration.SectionHandler, System.Core"/>
		<section name="System.Data.Settings" type="System.Configuration.SectionHandler, System.Core"/>
	</configSections>

	<appSettings/>

	<!--  Remote Configuration Manager Settings -->
	<System.Configuration.Managers.Remote.Settings Assembly="System.Configuration.Managers.Remote">
		<Settings ConfigurationManager="System.Configuration.Managers.FileSystem.FileSystemConfigurationManager, System.Configuration.Managers.FileSystem"/>
		<!-- Settings
			ConfigurationManager="System.Configuration.Managers.Database.FileSystemConfigurationManager, System.Configuration.Managers.Database"
			/ -->
	</System.Configuration.Managers.Remote.Settings>

	<!--  File System Configuration Manager Settings -->
	<System.Configuration.Managers.FileSystem.Settings Assembly="System.Configuration.Managers.FileSystem">
		<Settings ConfigurationFilePath="C:\Temp\Configuration\{0}\{1}.config" ConfigurationXPath="configuration/{0}" UserGroupsFilePath="C:\Temp\Configuration\UserGroups.config" MachineGroupsFilePath="C:\Temp\Configuration\MachineGroups.config" UserGroupsXPath="configuration/UserGroups" MachineGroupsXPath="configuration/MachineGroups"/>
	</System.Configuration.Managers.FileSystem.Settings>

	<!--  Database Configuration Manager Settings -->
	<System.Configuration.Managers.Database.Settings Assembly="System.Configuration.Managers.Database">
		<Settings ConfigurationDataAccessName="config" DatabaseSchemaName="dbo"/>
	</System.Configuration.Managers.Database.Settings>

	<!-- Data Access Settings -->
	<System.Data.Settings Assembly="System.Data">
		<Settings>
			<DataAccessObject Name="config" ConnectionString="Data Source=[serverName];Initial Catalog=[dbName];User ID=[user];Password=[pwd]" Type="System.Data.SqlDataAccess, System.Data.SqlClient" Default="true"/>
		</Settings>
	</System.Data.Settings>

	<system.serviceModel>
		<services>
   <service name="System.Configuration.Managers.Remote.RemoteConfigurationService">
    <endpoint address="net.tcp://localhost:9327/ConfigurationManager"
     binding="netTcpBinding" bindingConfiguration="" name="ConfigurationService"
     contract="System.Configuration.Managers.IRemoteConfigurationService" />
   </service>
  </services>
	</system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
