<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<section name="System.Data.Settings" type="System.Configuration.SectionHandler, System.Core" />
	</configSections>

	<!-- Container Settings:
		Using the System.Configuration.SectionHandler this section can be embedded in the App.config or Web.config
		in order to point to another configuration file.  The Path of this file is relative to the Applicaiton path.
		-->
	<System.Data.Settings Assembly="System.Core" Filename="MyExternal.config" />

	<!-- Container Settings:
		Using the System.Configuration.SectionHandler this section can either be embedded in the App.config or Web.config  -OR-
		contained in a separate configuration file (using the same XPath) -->
	<System.Data.Settings Assembly="System.Core">
		<!-- Settings Node - One Required
			DecryptionProvider = Full Type Name or Container ObjectId for the IDecryptionProvider instance used to decrypt connection strings.
			                     (Optional, Default="System.Data.DefaultCryptographyProvider, System.Data")
		-->
		<Settings
			DecryptionProvider="System.Data.DefaultCryptographyProvider, System.Data"
			>
			
			<!-- DataAccessObject Node - Zero to Many
				Name = The name of the DataAccessClient.  (Corresponds to IDataCommand.DataAccessName)
				ConnectionString = The connection string used to connect to the database.
				DataAccessClient = Full Type Name or Container ObjectId for the DataAccessClient instance.
				Default = Indicates if the DataAccessClient is the default.  Only one DataAccessObject node can have this set to true.
			-->
			<DataAccessObject
				Name="DataAccessName"
				ConnectionString="Data Source=[ServerName];Initial Catalog=[DatabaseName];User Id=[UserId];Pwd=[Password]"
				DataAccessClient="System.Data.SqlDataAccess, System.Data.SqlClient"
				Default="true"/>
			
		</Settings>
	</System.Data.Settings>

</configuration>
