<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="System.IOCSettings" type="System.Configuration.SectionHandler, System.Core"/>
		<section name="System.Diagnostics.Settings" type="System.Configuration.SectionHandler, System.Core"/>
	</configSections>

	<appSettings/>

	<!--  IOC Settings -->
	<System.IOCSettings Assembly="System.Core">
		<IOCSettings TypeName="System.IOCDefault, System.Core"/>
	</System.IOCSettings>

	<!-- Diagnostics Settings -->
	<System.Diagnostics.Settings Assembly="System.Core">
		<Settings DefaultLevel="Warning" StandardMessagesType="System.Diagnostics.StandardMessages.StandardTraceMessages, System.Diagnostics" UseEventLog="false">
			<Thread ThreadName="TraceService.MainThread" TraceLevel="Info">
				<TraceListener Name="LogFile" TypeName="System.Diagnostics.TraceListeners.LogFileTraceListener, System.Diagnostics">
					<Parameter Name="Path" Value="C:\Temp\Debug\System\TraceService\"/>
					<Parameter Name="Filename" Value="TraceService.MainThread"/>
				</TraceListener>
			</Thread>
			<Thread ThreadName="*" TraceLevel="Info">
				<TraceListener Name="LogFile" TypeName="System.Diagnostics.TraceListeners.LogFileTraceListener, System.Diagnostics">
					<Parameter Name="Path" Value="C:\Temp\Debug\System\TraceService\"/>
					<Parameter Name="Filename" Value="TraceService.{0}"/>
				</TraceListener>
			</Thread>
		</Settings>
	</System.Diagnostics.Settings>

	<system.serviceModel>
		<services>
   <service name="System.Diagnostics.LoggerService.ManagerService">
    <endpoint address="net.tcp://localhost:9327/Manager" binding="netTcpBinding"
     bindingConfiguration="" name="ManagerService" contract="System.Diagnostics.Loggers.Service.IManagerService" />
   </service>
   <service name="System.Diagnostics.LoggerService.LoggerRegistryService">
    <endpoint address="net.tcp://localhost:9327/Registry" binding="netTcpBinding"
     bindingConfiguration="" name="RegistryService" contract="System.Diagnostics.Loggers.Service.IRegistryService" />
   </service>
  </services>
	</system.serviceModel>
	
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
